# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.idea/
*.vscode/

# Virtual environment
.venv/
venv/

# Environment variables & secrets
.env
private-key.pem

# Database
*.db

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Testing
.pytest_cache/
htmlcov/
.coverage

# Docker
docker-compose.override.yml

*.pem